<template>
    <div>
      <h2>Danh sách thiết bị</h2>
      <table>
        <thead>
          <tr>
            <th>Tên thiết bị</th>
            <th>Loại thiết bị</th>
            <th>Mô tả</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="device in devices" :key="device.id">
            <td>{{ device.name }}</td>
            <td>{{ device.type }}</td>
            <td>{{ device.description }}</td>
            <td>
              <button @click="deleteDevice(device.id)">Xóa</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </template>
  
  <script>
  import { ref } from 'vue';
  
  export default {
    name: 'DeviceList',
    props: {
      devices: {
        type: Array,
        required: true,
      },
      deleteDevice: {
        type: Function,
        required: true,
      },
    },
  };
  </script>