<template>
    <div>
      <h2>Thêm thiết bị mới</h2>
      <form @submit.prevent="handleSubmit">
        <div>
          <label for="name">Tên thiết bị:</label>
          <input type="text" id="name" v-model="device.name" />
        </div>
        <div>
          <label for="type">Loại thiết bị:</label>
          <input type="text" id="type" v-model="device.type" />
        </div>
        <div>
          <label for="description">Mô tả:</label>
          <textarea id="description" v-model="device.description"></textarea>
        </div>
        <button type="submit">Thêm</button>
      </form>
    </div>
  </template>
  
  <script>
  import { ref } from 'vue';
  
  export default {
    name: 'DeviceForm',
    props: {
      addDevice: {
        type: Function,
        required: true,
      },
    },
    setup(props) {
      const device = ref({
        name: '',
        type: '',
        description: '',
      });
  
      const handleSubmit = () => {
        props.addDevice(device.value);
        device.value = { name: '', type: '', description: '' };
      };
  
      return { device, handleSubmit };
    },
  };
  </script>