<template>
  <div>
    <h1>{{ title }}</h1>
    <DeviceForm/>
    <DeviceList/>
  </div>
</template>

<script>
import { ref } from 'vue';
import DeviceForm from './components/DeviceForm.vue';
import DeviceList from './components/DeviceList.vue';

export default {
  name: 'App',
  components: {
    DeviceForm,
    DeviceList,
  },
  setup() {
    const title = ref('Quản lý thiết bị');
    const devices = ref([]);

    const addDevice = (device) => {
      devices.value.push(device);
    };

    const deleteDevice = (id) => {
      devices.value = devices.value.filter((device) => device.id !== id);
    };

    return { title, devices, addDevice, deleteDevice };
  },
};
</script>